@import "bootstrap.scss";

body {
  background-color: #1a1a5a;
  background-image: linear-gradient(to left bottom, #060865, #080e67, #0a1368, #0d186a, #101c6b, #0d226f, #0b2872, #0a2d75, #03357b, #003d80, #004585, #004d89);  padding-top: 3rem;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Helvetica Neue', 'Montserrat', sans-serif;
}

.header-text {
  text-align: left;
}

.container {
  width: 1000px;
  padding: 0 !important;
}

button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2rem !important;
  padding: 0.7rem 2.2rem;
}

.button-save {
  margin-right: 1rem;
}

.buttons-bottom {
  display: flex;
  justify-content: space-between;
}

canvas {
  background: white;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #f6f6f6;
}

#logo {
  display: flex;
  align-items: center;
}

#logo svg {
  margin-right: 8px;
}

#nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

#nav ul li {
  display: inline;
}

#nav ul li a {
  text-decoration: none;
  color: black;
}

#nav ul li a:hover {
  color: $primary;
}

/* Main */
main {
  min-height: calc(100vh - 5rem);
}

/* Footer */
footer {
  background-color: #F6F6F6;
  padding: 3rem 0;
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer ul li {
  display: flex;
  align-items: center;
}

footer a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

footer ul.footernav p{
  margin: 0;
}

footer a:hover {
  color: $secondary;
}